{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" style=" color:green;">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class=" mon-titre h3 mb-3">Please sign in</h1>
    <div class="form-block">

    <div  class="items1 mb-3">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class=" items1 mb-3">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class=" items1 form-check mb-3">
        <input class="form-check-input" type="checkbox" name="_remember_me" id="rememberMe">
        <label class="form-check-label" for="rememberMe">
            Remember me
        </label>
    </div>

    <button class=" items1 btn btn-primary w-100" type="submit">
        Sign in
    </button>
</div>

</form>
{% endblock %}
