{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 class="mon-titre">User</h1>

    <table class="table table-bordered w-75 mx-auto align-middle">
    <tbody>
        <tr>
            <th class="text-start" style="width: 150px; background-color: skyblue;">Id</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.id }}</td>
        </tr>
        <tr>
            <th class="text-start" style="background-color: skyblue;">Email</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.email }}</td>
        </tr>
        <tr>
            <th class="text-start" style="background-color: skyblue;">Roles</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th class="text-start" style="background-color: skyblue;">Password</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.password }}</td>
        </tr>
        <tr>
            <th class="text-start" style="background-color: skyblue;">Website</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.website }}</td>
        </tr>
        <tr>
            <th class="text-start" style="background-color: skyblue;">Detail</th>
            <td class="text-start" style="background-color: skyblue;">{{ user.detail }}</td>
        </tr>
    </tbody>
</table>


    <a href="{{ path('app_user_index') }}" >back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
